<div class="container-fluid">
    <!-- Message éphémère-->
    <toaster-container ></toaster-container>
    <div class="col-md-2 ">
        <div class="row ">
            <img class="round" [attr.src]="server+product.logo" (click)="startFabrication()"/>
        </div>
        <div class="row ">
            <span id="nb_Product"> {{product.quantite}} </span>  
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="progress" #bar>   </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <button type="button" class="btn btn-dark float-right" (click)="buyProduct()" [disabled]="!buyable">  Buy  </button> 
                <span> {{nbAchat}} death(s)</span>
                <span> for {{prix}} </span>
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>  
            </div>
            <div class="col-md-2"> {{product.timeleft}}</div>
        </div>
        <div class="row"> 
            <div class="col-md-10">
                <span style="font-weight:bold; color:rgba(53, 21, 21, 0.541);"> Earn {{product.revenu}} </span>
                <span>   </span>
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 
            </div>
        </div>
    </div>
</div>


